.chart {
  width: 90%;
}

.search-box {
  width: 350px;
  margin: 70px auto 0;
  border-bottom: solid black 1px;
}

.label {
  font-size: 20px;
  font-variant: small-caps;
  font-weight: 100;
  margin-bottom: 20px;
  margin-right: 20px;
}

#CountryList {
  outline: none;
  margin-bottom: 20px;
  width: 150px;
}

#bar-chart-horizontal{
  margin: 60px auto 20px;
}

#bar-chart {
  display: none;
  width: 60%;
  margin: 0 8% 0;
}

#button-back {
  display: none;
  outline: none;
  width: 10%;
  margin: 20px auto 20px;
}

#details {
  margin: 0 14% 0;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: 100;
}
